body {
  margin: 0;
  display: grid;
  grid-template-areas: "menu canvas";
  grid-template-columns: 10rem calc(100vw - 10rem);
}

html {
  background-color: gainsboro;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0;
  padding: 0;
}

#menu {
  grid-area: menu;
  z-index: 2;
 
  display: flex;
  flex-direction: column;
  align-items: stretch;
  row-gap: 2px;
  width: 10rem;
  
  max-height: 100vh;
  overflow-y: auto;
}

#downloadButton {
  text-decoration: none;
}

#canvasContainer {
  grid-area: canvas;
  z-index: 1;

  overflow: auto;
  height: 100vh;
}

#canvas {
}

.color-table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 3rem;
}

.color-cell {
  height: 100%;
  width: 100%;
}

.menu__button {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;

  width: 100%;
}

.menu__input {
  width: 100%;
}

.menu__item {
  margin-bottom: 2px;
}

.button--active {
  border: solid green 3px;
}

.canvas--draw {
  cursor: url(assets/pencil.svg) 0 32, auto; /*TODO*/
}

.canvas--erase {
  cursor: url(assets/eraser.svg) 0 32, auto; /*TODO*/
}

#menu header h1 {
  text-align: center;
}

@media print {
  .no-print {
    display: none;
  }
  body {
    margin: 0;
    display: grid;
    grid-template-areas: "menu canvas";
    grid-template-columns: 0 100vw;
  }
}
@media screen and (max-width: 600px) {
  /*TODO*/
  body {
    margin: 0;
    display: grid;
    grid-template-areas: "menu" "canvas";
    grid-template-columns: 1fr;
  }
  #menu {
    grid-area: menu;
    z-index: 2;

    list-style: none;

    display: flex;
    flex-direction: row;
    align-items: stretch;

    margin: 0;
    padding: 0;

    align-items: stretch;
    justify-content: space-around;

    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: auto;
  }
  .menu__button span {
    display: none;
  }
  .menu__button {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;

    /* width: 100%; */
  }

  .color-table {
    display: none;
  }
  #menu header {
    display: none;
  }

  fieldset {
    padding-block-start: 0.25em;
    padding-inline-start: 0.5em;
    padding-inline-end: 0.5em;
    padding-block-end: 0.5em;
  }
  #canvasContainer {
    touch-action: none;
    overflow: auto;
  }
}
